<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.hfmw.pubapp"
		version   = "1.0">

<name>The Tartan App</name>
<description>App para promover a cultura dos tartans</description>
<author href  ="http://hf-mw.com"
        email ="profamorim@yahoo.com.br" > Gardner e Grigsby e Prof. Amorim 
</author>
<icon src="beeeach_114x114.jpg" heigth="114" width="114"/>
<icon src="beeeach_72x72.jpg" heigth="72" width="72"/>
</widget>